@model ICollection<GoldenHeart.Models.User>
@{
    ViewBag.Title = "Дневной стационар";
}

<div class="day-hospital">
    <div class="day-hospital-fon">
        <div class="day-hospital-fon-img">
            <div class="day-hospital-img-small"><img src="img/map_small.png"/></div>
            <div class="day-hospital-img-big"><img src="img/map_big.png"/></div>
        </div>

        <h3>ПОРЯДОК ГОСПИТАЛИЗАЦИИ</h3>
        <p>Вам необходимо получить направление от онколога в межрайонном онкологическом центре БУ ХМАО-Югры «Сургутская окружная клиническая больница», или от участкового терапевта в поликлинике по месту жительства, а также подробную выписку о заболевании из истории болезни или амбулаторной карты.
            Наши сотрудники обеспечивают пациентов круглосуточным лечением и уходом.
            Мы работаем по системе "ОМС" (обязательного медицинского страхования).</p>
        <h4>ГОСПИТАЛИЗАЦИЯ ПО ДАННОЙ СИСТЕМЕ ПРОИСХОДИТ БЕСПЛАТНО</h4>
        <p>Вы можете связаться с нами по телефону :<br>
            по телефону: (3462) 93-53-23</p>
        <p>или принести документы лично,<br>
            по адресу: пр.Комсомольский 14/5</p>
        <p>с 9.00 до 17:00</p>
    </div>
</div>